body{
    width: 100%;

}
.nav{
    width:80%;
    height:40px;
    float: left;
}
.nav1{
    float: left;
    background: url(../img/logo1.png)no-repeat;
    width: 286px;
    height: 88px;
    background-size: 97%;
}
.nav ul{
    margin: 26px 0 0 0;
    padding: 5px;
    text-align: center;
}
.nav ul li{
    display: inline-flex;
}
.nav ul li a{
    text-decoration: none;
    padding:5px 10px;
    color: #0c6780;
    font-size:20px;
    text-transform: uppercase;
}
.nav ul li a:hover{
    color: rgba(255, 0, 114, 0.88);
}
.first0{
    color:red !important;
    font-size:20px;
}
.header{
    position: fixed;
    margin: -18px 0 0 0;
    padding: 10px ;
    background: #d0d5ff;
    width:100%;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    z-index:299;
}
/*----------------------first----------------------*/
.main{
    background:red;
    padding:40px;
    height:505px;
    display: block;
}
.first-block{
    float: left;
    padding:30px;
    width:50%;
    margin:88px 0 0 0;
}
.second-block{
    float: left;
    margin: 88px 0 0 0;
    display: block;
    width:40%;
    height:350px;

}
.second-block img{

    width: 80%;
    height: 356px;
    background-size: 100%;
}
 
#btn{
    padding:8px 20px;
    font-size:18px;
    color:#fff;
    border:1px solid red;
    border-radius:6px;
}
h1{
    font-size:32px;
    color:#fff;
}
.first-block p{
    font-size: 18px;
    line-height: 23px;
    color: #cea4a4;
    width: 78%;
}
/*----------------about-------------*/
.about{
    height: 348px;
    background: white;
    padding: 72px;
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.about1{
    width:50%;
    float: left;
}
.about h1{
    font-size:32px;
    color:#000;
    text-align:center;
}
.about p{
    font-size: 18px;
    line-height: 23px;
    color: #635f5f;
    width: 78%;
}
.about2{
    width: 48%;
    float: left;
    margin: 0 auto;
    display: block;
    padding: 44px 3px;
}
.about-img img{
    width: 298px;
    height: 278px;
    text-align: center;
    display: block;
    background-size: 102%;
    margin: 0 0 0 38%;
}
/*----------------services-----------------*/
.services{
    padding: 48px;
    background: gainsboro;
    height: 762px;
}
.services h1{
    font-size: 38px;
    color: #000;
    text-align: center;
}
.ser-block{
    align-content: space-around;

}
.ser1{
    padding: 20px;
    border-right: 1px solid #000;
    width: 29%;
    margin: 5px;
    float: left;
}
.ser1:nth-child(3){
    border-right:none;
}
.ser1:nth-child(2){
    display:none;
}
.ser1:nth-child(7){
    border-right:none;
}
.line{
    border-bottom: 1px solid #000;
    width: 100%;
    display: none;
}
.ser-img img{
    width: 120px;
    height: 120px;
    border: 1px solid red;
    border-radius: 80px;
    background-size: 51%;
    margin: 0 auto;
    padding: 5px;
}


.ser1{
  text-align:center;
}
.ser-block{
 padding:0 80px;
}
/*---------------tabs-----------------*/
#tabs{

}
#first {
      color: red !important;
      border: 1px solid red !important;
}
 .tab{
     float: left;
     padding: 2px;
     color: gray;
     border: 1px solid gray;
     margin: 0 10px;
     padding: 13px 10px;
     border-radius: 6px;
}
#tabs .tabContent{
    padding:20px;
    height:40px;
    border-radius:0 0 4px 4px;
    margin:0 auto;
    position:relative;
    top:60px;
}
.hide{
    display:none
}
.show{
    display:block;
}
.red{
    background:red;
}
.gray{
    background:gray;
}
/*------------portfolio------------------*/
.portfolio{
    padding:20px 100px;
    height:640px;
}
.im1{
    width:300px;
    float:left;
    height:200px;
}
.portfolio h1{
    font-size:38px;
    color:#000;
    text-align: center;
}
/*----------clients----------------------*/
.clients{
    padding:40px 100px;
    background: #fff;
    display:block;
    background:red;
}
.clients ul{
    margin:0 auto;
}
.clients ul li{
    display: inline-block;
    padding: 20px 68px;
    color: #fff;
    font-size: 32px;
}
 h1{
    font-size:38px;
    color:#000;
    text-align: center;
}
 /*--------------------team-------------------*/
.team{
    background: #fff;
    padding: 20px 40px;
    height: 500px;
}
p{
    text-align: center;
    color:gray;
}
.ser2{
    padding: 20px;
    width: 29%;
    margin: 5px;
    float: left;
}
.ser2 img{
    display: block;
    margin: 0 auto;
}
.ser2 h3{
    text-align:center;
}
/*---------------contact us-----------------------*/
.contact-us{
    padding:20px 150px;
    height:400px;
    background:#000;
    display: block;
}
.contact-us h1{
    color:#fff;
    font-weight:100;
}
.form{
    width: 37%;
    padding: 20px;
    display: block;
    margin: 0 auto;
}
input[type=text]{
     font-size: 25px;
     padding: 8px 89px;
     color: lightblue;
     border: none;
     border-radius: 6px;
 }
input[type=email]{
    font-size: 25px;
    padding: 8px 89px;
    color: lightblue;
    border: none;
    border-radius: 6px;
}
input[type=textarea]{
    font-size: 25px;
    padding: 8px 89px;
    color: lightblue;
    border: none;
    border-radius: 6px;
}
input[type=submit]{
    font-size: 25px;
    padding: 9px 189px;
    color: lightblue;
    background: red;
    border: none;
    border-radius: 6px;
}
footer{
    height:50px;
    padding:20px;
    border-top:4px solid #fff;
    background:#000;
}
footer p{
    text-align:center;
    font-size:16px;
    color:#fff;
}